.navbar {
  padding: 5px;
  display: inline-block;
}

.is-resolving.spinner-loader {
  font-size: 4px;
  display: inline-block;
}

.weather-summary {
  display: block;

  .current-weather {
    display: block;
    float: left;
  }

  .forecast-weather {
    text-align: center;
    display: block;
    float: left;
    clear: both;

    .daily-forecast {
    }
  }
}
